@import "~bulma/sass/utilities/initial-variables"
@import "~bulma"
@import "~mapbox-gl/dist/mapbox-gl.css";

ul.sponsors
  margin-top: 4rem

  li
    display: inline
    margin-right: 2rem

    img
      max-height: 50px

.logo.hero-body
  background-image: url(../assets/hero-bg.jpg)
  background-position: center center
  background-repeat: no-repeat
